body{
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 24px;
    height: 64px;
}

.navLeft{
    display: flex;
    align-items: center;
    height: 32px;
}

.logo{
    height: 100%;
}

.logoName{
    font-size: 20px;
}

.navRight{
    display: flex;
    align-items: center;
}

.navRightUl{
    display: flex;
    list-style: none;
    gap: 16px;
}

/* .container{
    margin: 32px 0px 32px 24px;
} */

.heroImg{
    width: 100%;
}
.hero{
    display: flex;
    gap: 24px;
    background-color: lightgray;
    padding:32px 0px 32px 24px;
}

.heroLeft{
    display: flex;
    flex: 6;
}

.heroRight{
    display: flex;
    flex: 4;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.heroRightTitle{
    font-size: 64px;
    font-weight: 600;
    color: gray;
}

.heroRightDesc{
    font-size: 32px;
    font-weight: 600;
    color: gray;
}

.heroButton{
    width: 100%;
    max-width: 18rem;
    padding: 8px 0;
    background: gray;
    border: solid 0px;
    color: white;
    font-size: 20px;
}

footer{
    display: flex;
    justify-content: space-between;
    margin: 0 24px;
}

.footerRight{
    display: flex;
    gap: 16px;
}