body{
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 24px;
    height: 64px;
}

img{
    width: 100%;
}

span{
    color: gray;
}

a{
    text-decoration: none;
    color: lightskyblue;
}

.navLeft{
    display: flex;
    align-items: center;
    height: 32px;
}

.logo{
    height: 100%;
}

.logoName{
    font-size: 20px;
}

.navRight{
    display: flex;
    align-items: center;
}

.navRightUl{
    display: flex;
    list-style: none;
    gap: 16px;
}

.hero{
    display: flex;
    gap: 24px;
    background-color: lightgray;
    padding:32px 0px 32px 24px;
}

.heroLeft{
    display: flex;
    flex: 6;
}

.heroRight{
    display: flex;
    flex: 4;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.heroRightTitle{
    font-size: 64px;
    font-weight: 600;
    color: gray;
}

.heroRightDesc{
    font-size: 32px;
    font-weight: 600;
    color: gray;
}

.heroButton{
    width: 100%;
    max-width: 18rem;
    padding: 8px 0;
    background: gray;
    border: solid 0px;
    color: white;
    font-size: 20px;
}

.information{
    display: flex;
    gap: 24px;
    padding:32px 0px 32px 24px;
}

.informationLeft{
    display: flex;
    flex: 6;
    flex-direction: column;
}

.informationMainTitle{
    font-size: 36px;
    font-weight: 600;
}

.informationMainInfo{
    display: flex;
    flex-direction: column;
    margin:32px 0;
    gap: 24px;
}

.informationRight{
    display: flex;
    flex: 4;
    flex-direction: column;
}

.informationCard{
    display: flex;
    gap: 16px;
}

.informationCard:hover{
    background-color: lightgray;
}

.informationCardImgWarp{
    display: flex;
    flex: 3.5;
    padding: 16px 0px 16px 16px;
}

.informationCardImg{
    height: auto;
}

.informationCardTitle{
    font-size: 24px;
    font-weight: 600;
}

.informationCardInfo{
    display: flex;
    flex: 6.5;
    flex-direction: column;
    justify-content: center;
}

.informationCardDesc{
    margin-top: 5px;
    margin-bottom: 16px;
}

.course{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 72px;
    background-color: lightgray;
}

.courseTitle{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 32px;
}

.courseCard{
    background-color: white;
}
.courseCardWarp{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.courseCardTop{
    display: flex;
    gap: 32px;
}

.courseCardBottom{
    display: flex;
    gap: 32px;
}

.courseCardInfo{
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.courseCardTitle{
    font-size: 20px;
    font-weight: 600;
}

.courseCardType{
    margin-top: 12px;
    margin-bottom: 6px;
}

.thesis{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding:32px 0px 32px 24px;
    align-items: center;
}

.thesisTitle{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 32px;
}

.thesisInfo{
    display: flex;
    gap: 24px;
}

video{
    width: 100%;
}
.thesisLeft{
    display: flex;
    flex: 6;
    flex-direction: column;
}

.thesisVideoInfo{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    gap: 24px;
}

.thesisVideoTitle{
    font-size: 32px;
    font-weight: 600;
}

.thesisRight{
    display: flex;
    flex: 4;
    flex-direction: column;
}

.thesisCard{
    display: flex;
    gap: 16px;
}

.thesisCard:hover{
    background-color: lightgray;
}

.thesisCardImgWarp{
    display: flex;
    flex: 3.5;
    padding: 16px 0px 16px 16px;
}

.thesisCardImg{
    height: auto;
}

.thesisCardTitle{
    font-size: 24px;
    font-weight: 600;
}

.thesisCardInfo{
    display: flex;
    flex: 6.5;
    flex-direction: column;
    justify-content: center;
}

.thesisCardDesc{
    margin-top: 5px;
    margin-bottom: 16px;
}

footer{
    display: flex;
    justify-content: space-between;
    margin: 0 24px;
}

.footerRight{
    display: flex;
    gap: 16px;
}